



body{ background-image:url('file:///home/cse9/Desktop/img2.jpeg');
}
img{float:CENTER;}
h1{ color:dodgerblue; margin-left:100px;text-decoration: line=through;front-size:60px;text-align:center;}
p,sansserif{ front-family:arial,helvetica, sans-serif;color:yellow;

